*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

body > header {
    background-color: rgb(255, 255, 255);
    padding: 13px 5px;
    color: rgba(0, 0, 0, 0.853);
    font-size: 21px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.835);
}

header li {
    display: inline;
    margin-right: 10px;
    padding: 5px;
}

header li a {
    color: rgba(255, 255, 255, 0.835);
    font-size: 18px;
    text-decoration: none;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    font-weight: 550;
    border-radius: 10px;
}

header li a:hover {
    text-decoration: underline;
}

section h2 {
    font-size: 32px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.835);
}

section {
    padding: 16px 10px;
    padding-bottom: 20px;
}

#sports {
    background-color: rgba(64, 255, 0, 0.271);
    border-bottom: 3px solid rgba(0, 0, 0, 0.835);
}

#economy {
    background-color: rgba(255, 242, 0, 0.271);
    border-bottom: 3px solid rgba(0, 0, 0, 0.835);
}

#health {
    background-color: rgba(255, 0, 0, 0.271);
    border-bottom: 3px solid rgba(0, 0, 0, 0.835);
}

#security {
    background-color: rgba(0, 157, 255, 0.272);
    border-bottom: 3px solid rgba(0, 0, 0, 0.835);
}
.articles article h3 {
    font-size: 22px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.835);

}

.articles article img {
    /* height: 180px; 
    417.11 x 278.33 */
    height:278.33px ;
    width:417.11px;
    border: 2px solid rgba(0, 0, 0, 0.835);
    border-radius: 30px 5px
}

.articles article {
    width: 32%;
}

article {
    padding: 16px 10px;
}

.articles article a {
    margin-top: 2px;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0.834);
    color: rgba(255, 255, 255, 0.835);
    padding: 6px;
    display: inline-block;
    text-decoration: none;  
    font-weight: 550;
    border-radius: 10px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 3px;
}

.articles article p {
    margin-left: 8px;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
}

.texto_img {
    border-left: 2px solid rgba(0, 0, 0, 0.835);
    border-radius: 10px 0px 0px 5px;
}

footer .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer a {
    color: rgba(255, 255, 255, 0.835);
    font-size: 18px;
    text-decoration: none;
    padding: 6px;
    background-color: rgb(0, 0, 0);
    font-weight: 550;
    border-radius: 10px;
}

footer h3 {
    font-size: 26px;
}

footer p {
    font-style: oblique;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}