// Var Font
$mainFont: Roboto, sans-serif;

// Fim Var Font

// Var Cores
$bodyColor: #f5f6fa;
$headerColor: #182C61;
$btnColor: #44bd32;
$btnHoverColor: #4cd137;
$white: #fff;

// Fim Var Cores

// Media Queries
$mobile: 767px;
$tablet: 1024px;

// FIm media Queries